.main{
    padding: 30px;
    margin-top: 40px;

    .container{
        width: 80%;
        margin: 0 auto;
        text-align: center;
        ul{
            
            list-style: none;
            li{
                padding: 20px;
                h3{
                    font-size: 17px;
                    padding-bottom:10px;
                    color:white;
                }
                p{
                    font-size: 13px;
                }
                a{
                    .btn{
                        margin: 15px 10px;
                        border-radius: 3px;
                        color:white; 
                        border: none;
                        padding: 10px;
                        background-color: purple;
                    }
                }
                
            }
            
        }
    }
}